#static/attachments/*       fejlesztes idejere
#instance/*                 fejlesztes idejere
lost-and-found
__pycache__
ideas
tokens.json
PROJEKT_OSSZEFOGLALO.txt
Lost & Found.pptx
PROJEKT_TELJES_SUMMARY.txt