:root{
    --bg-color: #946A61FF;
    --menu-color: #FBC288FF;
    --button-color: #9E3F41FF;
    --item-color: #6E5E4FFF;
}

body {
    background-color: var(--bg-color);
    gap: space-between;
}

.login {
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
}
.navbar form.d-flex {
    width: 60%; 
    align-items: center;
    justify-content: center;
    
}

.navbar form.form-control {
    border-radius: 80px;    
}


#menu{
    background-color: var(--menu-color);
}