:root{
    --bg-color: #946A61FF;
    --menu-color: #FBC288FF;
    --button-color: #9E3F41FF;
    --item-color: #6E5E4FFF;
    --item-text-color: ;
    --button-hover-color: #4D2126;
    --button-border-color: #945D3D;
    --button-text-color: ;
    --searchbar-color: #825A42;
    --card-border-color: ;
    

    /*ezek még kellenek*/


}


body {
    background-color: var(--bg-color);
}

.login {
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
}
.navbar form.d-flex {
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;

    
}

.navbar form.form-control {
    border-radius: 80px;    
}


#menu{
    background-color: var(--menu-color);
    gap: space-between;
    min-height: 10vh;
    padding: 10px;

}
.container-fluid {
    display: flex;
    justify-content: center !important; 
    align-items: center;
}



.navbar input.form-control {
    border-radius: 25px;
    flex-grow: 1;
}

.btn{
    background-color: var(--button-color);
    border: 1px solid black;
    border-radius: 20px;
    color: var(--item-text-color);
}

.btn:hover{
    background-color: var(--button-hover-color);
    border: 1px solid var(--button-border-color);
    color: var(--item-text-color);
}

.card{
    background-color: var(--item-color);
    max-width: 400px;
    margin: 20px;
    margin-top: 100px;
    color: var(--item-text-color);
    border: 1px solid var(--card-border-color);
    border-radius: 20px;
    overflow: hidden;
}

.card img{
    max-height: 200px;
    object-fit: cover;
}
.text-end{
    color: var(--item-text-color);
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
    margin: auto;

}