{% extends "base.html" %}
{% block title %}404 - Oldal nem található {% endblock %}
{% block js %}
{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
    <div class="error-404-container">
        <div class="error-404-content">
            <h1 class="error-404-title">
                <span class="error-code">404</span>
                <span class="error-message" data-i18n="error404.lost">Az oldal elkóborolt!</span>
            </h1>
            <!---mancsok-->            
            <div class="error-illustration">
                <i class="fas fa-paw print-paw-1"></i>
                <i class="fas fa-paw print-paw-2"></i>
                <i class="fas fa-paw print-paw-3"></i>
                <i class="fas fa-paw print-paw-4"></i>
                
                <div class="animal-silhouette">
                    <i class="fas fa-dog"></i>
                    <span class="thought-bubble">
                        <i class="fas fa-question"></i>
                    </span>
                </div>
                
                <i class="fas fa-paw print-paw-5"></i>
                <i class="fas fa-paw print-paw-6"></i>
                <i class="fas fa-paw print-paw-7"></i>
                <i class="fas fa-paw print-paw-8"></i>
            </div>
            

            <a href="{{ url_for('main.home') }}" class="btn btn-primary mt-4" data-i18n="error404.backHome">Vissza a főoldalra</a>
        </div>
    </div>
{% endblock %}